
/ Header Carousel
%header#myCarousel.carousel.slide
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
  / Wrapper for slides
  .carousel-inner
    .item.active
      %a{:href => "#{painting_path(@carousel_painting_one.id)}"}
        .fill{:style => "background-image:url('#{@carousel_painting_one.large_img_url}');"}
        .carousel-caption
          %h2 #{@carousel_painting_one.title}
    .item
      %a{:href => "#{painting_path(@carousel_painting_two.id)}"}
        .fill{:style => "background-image:url('#{@carousel_painting_two.large_img_url}');"}
        .carousel-caption
          %h2 #{@carousel_painting_two.title}
    .item
      %a{:href => "#{painting_path(@carousel_painting_three.id)}"}
        .fill{:style => "background-image:url('#{@carousel_painting_three.large_img_url}');"}
        .carousel-caption
          %h2 #{@carousel_painting_three.title}
  / Controls
  %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
    %span.icon-prev
  %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
    %span.icon-next
/ Page Content
.container
  / /.row
  / Portfolio Section
  .row-centered
    .col-lg-12.col-centered
      %h2.page-header 
        Art by Michael Dixon
    .portfolio-items
    - @categories.each do |category|
      .col-md-3.col-sm-6.col-centered
        %center
          %a{:href => category_path(category.id)} 
            .portfolio-item
              %img.img-responsive.img-portfolio.img-hover.thumbnail{:alt => "#{category.name}", :src => "#{category.paintings.first.small_img_url}"}
                %h4 #{category.name}