/ Page Content
.container
  / Page Heading/Breadcrumbs
  .row
    .col-lg-12
      %h1.page-header
        = @painting.title
        %small #{@painting.time_frame}
      %ol.breadcrumb
        %li
          %a{:href => root_path} Home
        %li.active #{@painting.title}
  / /.row
  / Portfolio Item Row
  .row
    .col-md-8
      %img{ :src => "#{@painting.large_img_url}" }
    .col-md-4
      %h3 #{@painting.artist}
      %ul
        %li #{@painting.title}
        %li #{@painting.time_frame}
        %li #{@painting.medium} on #{@painting.surface}
        %li Height: #{@painting.height}, Width: #{@painting.width} inches
  / /.row
  / Related Projects Row
  .row
    .col-lg-12
      %h3.page-header 
        #{@painting.category.name}
        %small (related paintings)
    - @related_paintings.each do |painting|
      .col-sm-3.col-xs-6
        %a{:href => "#{painting_path(painting.id)}"}
          %img.img-responsive.img-hover.img-related{:alt => "", :src => painting.small_img_url}
          %br.center #{painting.title}