/ Page Content
.container
  / Page Heading/Breadcrumbs
  .row
    .col-lg-12
      %h1.page-header
        = @category.name
      %ol.breadcrumb
        %li
          %a{:href => root_path} Home
        %li.active
          = @category.name
  / /.row
  - @category.paintings.each do |painting|
    .row
      .col-md-7
        %a{:href => "#{painting_path(painting.id)}"}
          %img.img-responsive.img-hover{:alt => "", :src => painting.small_img_url}
      .col-md-5
        %h3 #{painting.title}
        %h4 #{painting.time_frame}
        %br
        %a.btn.btn-primary{:href => "#{painting_path(painting.id)}"}
          View Painting
    / /.row
    %hr