!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "Artist, Michael Dixon's, portfolio", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %title Michael Dixon - Artist
    / Custom Fonts
    %link{:href => "font-awesome/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}
    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  %body
    / Navigation
    %nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
      .container
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => root_path } Michael Dixon
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => "#{statements_path}"} Artist Statements
            %li
              %a{:href => "#{reviews_path}"} Reviews
            %li
              %a{:href => "#{cv_path}"} CV
            %li
              %a{:href => "#{contact_path}"} Contact
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Links
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "http://www.jackmeiergallery.com/"} Jack Meier Gallery
                %li
                  %a{:href => "http://www.barrettart.com/"} Peter Barrett
                %li
                  %a{:href => "http://matthewchoberka.com/"} Matthew Choberka
                %li
                  %a{:href => "http://www.frednocella.com/"} Fred Nocella
                %li
                  %a{:href => "http://nicholasknight.net/"} Nicholas Knight
                %li
                  %a{:href => "http://sarahsands.com/blog/"} Sarah Sands
                %li
                  %a{:href => "http://www.davidkiddpaintings.bmyg.net/"} David Kidd
                %li
                  %a{:href => "http://www.perryrubenstein.com/artists/santiago-cucullu/"} Santiago Cucullu
                %li
                  %a{:href => "http://www.chorographics.com/"} Tom Allnutt, GIS
                %li
                  %a{:href => "http://picasaweb.google.com/tom.allnutt"} Tom Allnutt, photography
                %li
                  %a{:href => "http://www.flickr.com/photos/kdixon/"} Kate Dixon, photography
  = yield
  %footer
    .row
      .col-lg-12
        %center
          %p
            Copyright &copy; Michael Dixon 2015 - All rights reserved.
            %br
              Application Development by 
              = link_to "Gemille Ford", "http://gemilleford.com/"

  / jQuery
  %script{:src => "js/jquery.js"}
  / Bootstrap Core JavaScript
  %script{:src => "js/bootstrap.min.js"}